<div class="about">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <ul>
          <li>
            <p class="aboutp1">关于</p>
          </li>
          <li>
            <a href="">
              <p class="aboutp2">北京大学深圳医院于2003年引进国际
                最先进技术成立了宫颈癌早诊早治中
                心，其突出特点是集宫颈门诊、专业
                护理、病毒DNA检验、细胞诊断、阴
                道镜及宫颈活组织检查、病理制片及
                诊断........</p>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-3">

        <ul>
          <li> <p class="aboutp1">帮助</p></li>
          <li>
            <a href="">
              注册新用户
            </a>
          </li>
          <li>
            <a href="">
              申请筛查
            </a>
          </li>
          <li>
            <a href="">
              收发货流程
            </a>
          </li>
          <li>
            <a href="">
              自检视频(瓶装采样法)
            </a>
          </li>
          <li>
            <a href="">
              自检视频(样本卡采样法)
            </a>
          </li>
          <li>
            <a href="">
              查询结果
            </a>
          </li>

        </ul>
      </div>
      <div class="col-md-3">

        <ul>
          <li><p class="aboutp1">联系</p></li>
          <li>
            地址: 广东省深圳市福田莲花路1120号
          </li>
          <li>
            电话: 0755-83923333转
          </li>
          <li>
            专线: 13622301162
          </li>
          <li>
            邮件: abc@abc.com
          </li>
        </ul>
      </div>
      <div class="col-md-3">
        <img src="../../assets/img/erweima.png" alt="">

      </div>
    </div>
  </div>
</div>

<footer>
  <div class="container">
    <div style="padding:4% 0;">
      <p>粤ICP备11104678号  |  技术支持:(qq:41502348)</p>
      <div class="footerbigdiv" style="width:30%;right:0;">
        <div class="row footerdiv">
          <div class="col-md-3">
            <a href="">
              <img src="../../assets/img/tubiao1.png" alt="">
            </a>
          </div>
          <div class="col-md-3">
            <a href="">
              <img src="../../assets/img/tubiao2.png" alt="">
            </a>
          </div>
          <div class="col-md-3">
            <a href="">
              <img src="../../assets/img/tubiao3.png" alt="">
            </a>
          </div>
          <div class="col-md-3">
            <a href="">
              <img src="../../assets/img/tubiao4.png" alt="">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
