<div class="big screen text-center">
  <a href="" class="bigtitle"><h3>回复</h3></a>
  <p style="padding: 10px 0;">reply</p>
</div>

<div class="container">
  <div class="row">
  <div class="col-sm-10">
    <div class="row">
      <div class="col-sm-12">
        <ul>
          <li><h5>我不知道挂哪个科?</h5></li>
          <li>
            <div class="col-sm-12 row">
              <div class="col-sm-2 top-li jz">
                <img src="../assets/img/1.png" alt="">
              </div>
              <div class="col-sm-10 yis">
                <ul>
                  <li class="mc">admin</li>
                  <li class="yis rq">2018-02-23 10:16:42</li>
                  <li class="li yis">
                    <button type="button" class="btn btn-primary">编辑</button>
                  </li>
                  <li class="yis">
                    <span class="fa fa-star-o sp"></span>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="top-li">我不知道挂哪个科？</li>
        </ul>
      </div>
    </div>

  <div class="row">
    <div class="col-sm-12">
      <ul>
        <li>
          <div class="col-sm-12 row top-li">
            <div class="col-sm-2 jz">
              <div><img src="../assets/img/2.png" alt=""></div>
              <br>
              <div ><a href=""><span class="fa fa-heart ax"></span> 12</a></div>
            </div>
            <div class="col-sm-10">
              <ul>
                <li class="mc">医生</li>
                <li class="yis rq">2018-02-23 10:16:42</li>
                <li class="yis">
                  请点击 [门诊出诊表] 快捷方式，通过输出疾病名称搜索挂哪个科哪位医生。
                </li>
                <li class="yis">
                  <a href="">回复</a>
                </li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <hr>

  <div class="row">
    <div class="col-sm-12">
      <ul>
        <li>
          <div class="col-sm-12 row top-li offset-md-1">
              <div class="col-sm-2 jz">
                <div><img src="../assets/img/3.png" alt=""></div>
              </div>
              <div class="col-sm-10">
                <ul>
                  <li class="mc">zxcv</li>
                  <li class="yis rq">2018-02-23 10:16:42</li>
                  <li class="yis">
                    在哪儿建卡？
                  </li>
                </ul>
              </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <hr>

  <div class="row">
    <div class="col-sm-12">
      <ul>
        <li>
          <div class="col-sm-12 row top-li">
            <div class="col-sm-2 jz">
              <div><img src="../assets/img/4.png" alt=""></div>
              <br>
              <div ><a href=""><span class="fa fa-heart ax"></span> 2</a></div>
            </div>
            <div class="col-sm-10">
              <ul>
                <li class="mc">Qwer</li>
                <li class="yis rq">2018-02-23 10:16:42</li>
                <li class="yis">
                  通过输入疾病名称搜索挂哪位医生
                </li>
                <li class="yis">
                  <a href="">回复</a>
                </li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <hr>


  <div class="row">
    <div class="col-sm-12">
      <ul>
        <li>
          <div class="col-sm-12 row top-li">
            <div class="col-sm-2 jz">
              <div><img src="../assets/img/5.png" alt=""></div>
              <br>
              <div ><a href=""><span class="fa fa-heart ax"></span> 8</a></div>
            </div>
            <div class="col-sm-10">
              <ul>
                <li class="mc">yuiop</li>
                <li class="yis rq">2018-02-23 10:16:42</li>
                <li class="yis">
                  疾病名称搜索挂哪个科哪位医生
                </li>
                <li class="yis">
                  <a href="">回复</a>
                </li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <hr>

    <nav class="fy" aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav>
  </div>
    <div class="col-sm-2">
      <app-reply-right></app-reply-right>
    </div>
  </div>
</div>

