<div class="col-sm-12">
  <div>
    <h3>最新动态</h3>
    <hr style="height:1px; border:none;border-top:1px solid #1E90FF	;" />
  </div>

  <div>
    <ul>
      <li class="li">
        <span class="fa fa-arrow-right"></span> <a href="">人类可以消灭第一种癌症是它...</a>
      </li>

      <li class="li">
        <span class="fa fa-arrow-right"></span> <a href="">"自取样宫颈癌筛查"项目在深圳</a>
      </li>

      <li class="li">
        <span class="fa fa-arrow-right"></span> <a href="">在家"自取样"可送宫颈癌</a>
      </li>
    </ul>
  </div>

  <div>
    <button class="button">更多动态</button>
  </div>
</div>

<div class="col-sm-12 pad">
  <div>
    <h3>最新动态</h3>
    <hr style="height:1px; border:none;border-top:1px solid #1E90FF	;" />
  </div>
  <ul>
    <li>
      北京大学深圳医院于2003年引进国际最先进技术成立了宫颈癌早诊早治中心，其突出特点是集宫劲门诊、专业护理、病毒DNA检验、细胞诊断、阴道镜及宫劲活组织检查、病理制片及诊断、LEEP治疗、病例随访及临床研究为一体的全方位立体中心。由于在宫颈早防早治方面取得突出成绩，于2004年12月被卫生部、中国癌症基金会、广东省卫生厅联合授予"宫劲癌早诊早治示范基地".
    </li>
  </ul>
</div>


<div class="col-sm-12 pad">
  <div>
    <h3>联系我们</h3>
    <hr style="height:1px; border:none;border-top:1px solid #1E90FF	;" />
  </div>
  <ul>
    <li class="center">
      <span class="fa fa-envelope-o sp"></span>
    </li>
    <li class="center">广东省深圳市福田莲花路1120号</li>
    <li class="center">
      <span class="fa fa-paper-plane-o sp"></span>
    </li>
    <li class="center">广东省深圳市福田莲花路1120号</li>
      <li class="center">
      <span class="fa fa-volume-control-phone sp"></span>
    </li>
    <li class="center">广东省深圳市福田莲花路1120号</li>
  </ul>
</div>
